<section class="hero is-fullheight" id="pictures">
  <div class="hero-body">
      <div class="container has-text-centered">
        {% for section in site.data.pictures %}
          <div class="section">
              <p class="subtitle is-uppercase has-text-weight-medium has-text-dark-grey">{{ section.name }}</p>
          </div>
          <div class="columns is-centered is-multiline is-mobile">
            {% for picture in section.images %}
              <div class="column has-text-centered is-paddingless is-marginless is-one-third-widescreen is-one-third-desktop is-one-fifth-fullhd is-one-third-tablet is-two-fifths-mobile is-three-quarters-touch"
                id="picture-card">
                <a href="{{picture.image}}?{{site.github.build_revision}}" data-lightbox="{{section.name}}" data-title="{{section.name}}{% unless picture.description == %} | {{picture.description}}{% endunless %}" title="{{section.name}}{% unless picture.description == %} | {{picture.description}}{% endunless %}">
                <div class="card">
                  <figure id="{{picture.name}}" class="image lazy is-3by1" alt="{{section.name}}{% unless picture.description == %} | {{picture.description}}{% endunless %}">
                    {% unless picture.description == %}
                    <div class="card-content">
                      <p class="has-text-black has-text-weight-light content">{{ picture.description | truncate: 80}}</p>
                    </div>
                    {% endunless %}
                  </figure>
                </div>
                </a>
              </div>
              <style>
              #{{picture.name}} {
                background-image: url({{picture.image}}?{{site.github.build_revision}});
              }
              #{{picture.name}}.lazy {
                background-image: none;
              }
              </style>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
  </div>
  <link rel="stylesheet" href="{% if site.baseurl %}{{site.baseurl}}{% else %}{% endif %}/assets/css/lightbox.min.css?{{site.github.build_revision}}">
  <script src="{% if site.baseurl %}{{site.baseurl}}{% else %}{% endif %}/assets/js/lightbox-plus-jquery.min.js?{{site.github.build_revision}}"></script>
  <script>
    lightbox.option({
      'albumLabel': 'Bild %1 von %2'
    });
    document.addEventListener("DOMContentLoaded", function() {
      var lazyloadImages;

      if ("IntersectionObserver" in window) {
        lazyloadImages = document.querySelectorAll(".lazy");
        var imageObserver = new IntersectionObserver(function(entries, observer) {
          entries.forEach(function(entry) {
            if (entry.isIntersecting) {
              var image = entry.target;
              image.classList.remove("lazy");
              imageObserver.unobserve(image);
            }
          });
        });

        lazyloadImages.forEach(function(image) {
          imageObserver.observe(image);
        });
      } else {  
        var lazyloadThrottleTimeout;
        lazyloadImages = document.querySelectorAll(".lazy");
        
        function lazyload () {
          if(lazyloadThrottleTimeout) {
            clearTimeout(lazyloadThrottleTimeout);
          }    

          lazyloadThrottleTimeout = setTimeout(function() {
            var scrollTop = window.pageYOffset;
            lazyloadImages.forEach(function(img) {
                if(img.offsetTop < (window.innerHeight + scrollTop)) {
                  img.src = img.dataset.src;
                  img.classList.remove('lazy');
                }
            });
            if(lazyloadImages.length == 0) { 
              document.removeEventListener("scroll", lazyload);
              window.removeEventListener("resize", lazyload);
              window.removeEventListener("orientationChange", lazyload);
            }
          }, 20);
        }

        document.addEventListener("scroll", lazyload);
        window.addEventListener("resize", lazyload);
        window.addEventListener("orientationChange", lazyload);
      }
    })
  </script>
</section>