<section class="hero is-fullheight has-text-centered" id="hero" style="height: 100vh; align-items: stretch; display: flex; flex-direction: column; justify-content: space-between; text-align: center;">
  <div class="hero-body" style="text-align: center; margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%;">
    <div class="container" style="font-size: 1.25rem; flex-grow: 1; flex-shrink: 1; margin: 0 auto; position: relative; width: auto;">
      <h1 class="title has-text-white is-uppercase has-text-weight-bold" style="font-size: 2.7rem; font-weight: 700; text-transform: uppercase; color: #fff; line-height: 1.125; word-break: break-word; margin: auto 0.75rem; padding: 0;">
        {{site.title}}
      </h1>
      <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless" style="font-weight: 500; text-transform: uppercase; margin: 0; color: #fafafa; font-size: 1.25rem; line-height: 1.25; word-break: break-word; letter-spacing: 0.25rem; padding: 0;">
        {{site.subtitle}}
      </h3>
      <hr style="margin: 1rem auto; height: 1px; background-color: #f5f5f5; border: none; display: block; padding: 0;">
      <a href="{{site.url}}{{site.baseurl}}/#about"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal" style="background-color: transparent; border-color: #fff; color: #fff; border-radius: 290486px; padding-left: calc(1em + .25em); padding-right: calc(1em + .25em); font-weight: 400; text-transform: uppercase; border-width: 1px; justify-content: center; padding-bottom: calc(.5em - 1px); padding-top: calc(.5em - 1px); text-align: center; white-space: nowrap;">Mehr erfahren</a>
      </a>
    </div>
  </div>
</section>