---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include navbar.html %}
  {% include showcase.html %}
  {% include about.html %}
  {% include pictures.html %}
  {% include contact.html %}
  <!--Footer begins here-->
  {% include footer.html %}
</body>
<link rel="stylesheet" href="{% if site.baseurl %}{{site.baseurl}}{% else %}{% endif %}/assets/css/lightbox.min.css">
<script src="{% if site.baseurl %}{{site.baseurl}}{% else %}{% endif %}/assets/js/lightbox-plus-jquery.min.js"></script>
<script src="https://kit.fontawesome.com/6a97161b76.js" crossorigin="anonymous"></script>
<script>
  window.addEventListener("scroll", function (event) {
    var scroll = this.scrollY;
    var maxScroll = Math.max(
      document.body.scrollHeight,
      document.body.offsetHeight,
      document.documentElement.clientHeight,
      document.documentElement.scrollHeight,
      document.documentElement.offsetHeight
    ) - 1300;
    var item = document.getElementsByClassName('navbar-item');
    /* console.log(scroll); */
    if (scroll < 565) {
      item[1].classList.add('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.remove('is-active');
      item[4].classList.remove('is-active');
    }
    if (scroll > 565 && scroll < 1130) {
      item[1].classList.remove('is-active');
      item[2].classList.add('is-active');
      item[3].classList.remove('is-active');
      item[4].classList.remove('is-active');
    }
    if (scroll > 1130 && scroll < maxScroll) {
      item[1].classList.remove('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.add('is-active');
      item[4].classList.remove('is-active');
    }
    if (scroll > maxScroll) {
      item[1].classList.remove('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.remove('is-active');
      item[4].classList.add('is-active');
    }
  });
</script>

</html>